/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.row {
  max-width: 100%;
}

.bckg-image {
  z-index: -20;
  position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  padding: 0;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}
/* PAGINATION */ /* Move to index CSS? */
.pagination a, .pagination button {
  display: inline;
}

/* HEADER */
header {
  /*background-color: white;*/
  padding-left: 50px;
  padding-right: 50px;
  /*border-bottom: 1px black solid;*/
  height: 80px;
}
header h1 a {
  font-family: 'Rozha One', serif;
  /*text-align: center;*/
  color: #E0AFA0;
  line-height: 80px;
}
header h1 a:hover {
  color: #E0AFA0;
}
header .button {
  border-color: #dddddd;
  background-color: white;
  color: #E0AFA0;
  border-radius: 18px;
}
header .button:hover {
  /*border-color: #dddddd;*/
  background-color: #dddddd;
  color: #E0AFA0;
  /*color: white;*/
}


/* MENU ICON */
section.menu {
  position: absolute;


}
div.menu-dropdown {
  height: 28px;
  margin-top: 25px;

  font-weight: bold;
}

.menu-dropbtn div {
  width: 23px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

.menu-dropbtn {
  width: 28px;
  height: 28px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;

}

section.menu:hover #bar1 {
  /*-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;*/
    transform-origin: left;
    transform: translate(25%, 25%) rotate(39deg)
}
section.menu:hover #bar2 {
  opacity: 0;
}
section.menu:hover #bar3 {
  /*-webkit-transform: rotate(45deg) translate(-8px, -8px) ;*/
    transform-origin: left;
    transform: translate(25%, 25%) rotate(-39deg)
}

/* The container <div> - needed to position the dropdown content */
.menu-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.menu-dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-dropdown-content .button {
  border: none;
  border-radius: 0;
  margin: 0;

}

/* Links inside the dropdown */
.menu-dropdown-content a {
    color: #c1c1c1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.menu-dropdown-content a:hover {
  background-color: #e8e8e8;
  color: #8e8e8e;
}

/* Show the dropdown menu on hover */
.menu-dropdown:hover .menu-dropdown-content {
    display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu-dropdown:hover .menu-dropbtn {
    /*background-color: #3e8e41;*/

}
/*                       */


body {
  /*background-image: url(/images/hambergur-b&w.png);*/
  /*background-color: #F4F3EE;
  background-color: white;
  font-color: #F4F3EE;*/
}


/* SEARCH BAR */
.search-bar {
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
/*.submit-button input {
  background-color: white;
}*/
input#item {
  border-radius: 20px;
}
section#recent-search {
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
}


/* DROPDOWN OPTIONS */

/* Style The Dropdown Button */
.so-dropbtn {
    /*padding: 16px;
    font-size: 16px;
    border: none;*/
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.so-dropdown {
    /*position: relative;*/
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.so-dropdown-content {
    display: none;
    /*position: absolute;
    background-color: #f9f9f9;*/
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

/* Links inside the dropdown */
.so-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.so-dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.so-dropdown:hover .so-dropdown-content {
    display: block;
    position: absolute;
    background-color: white;
    /*margin-left: 26%;*/

}
.so-dropdown:hover {
    display: block;
}
.spacer {
  clear:both;
  height: 10px;
}
.diet-options, .diet-restrictions {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
  width: 70%;
  min-width: 300px;
  padding-top: 20px;
}

.left {
  float: left;
}
/*.diet-restrictions {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
  width: 50%;
  padding-top:
}*/

/* Change the background color of the dropdown button when the dropdown content is shown */





.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(234, 224, 204, 0.8);
  text-align: center;
}
